* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fcfcfc;
  color: #242526;
  font-size: 16px;
  width: 100%;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 19px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 25% 25%;
      grid-template-columns: 50% 25% 25%;
  background-color: #000;
  height: 495px;
  margin-top: 45px;
}

.grid div {
  display: -ms-inline-grid;
  display: inline-grid;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  overflow: hidden;
}

.grid div:first-child {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.grid div img {
  height: 100%;
  cursor: pointer;
}

section {
  position: relative;
}

section .grid {
  position: relative;
}

section .grid .showall {
  position: absolute;
  right: 20px;
  bottom: 15px;
  width: 132px;
  height: 36px;
  background: #fff;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  color: #000;
  text-align: center;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #242526;
}

a.btn {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #242526;
  height: 36px;
  padding: 6px 9px 6px 6px;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #b3b1b4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  margin: 0;
}

a.btn i {
  display: inline-block;
  width: 12px;
  height: 24px;
  margin: -3px 4px 0 6px;
}

.pink {
  color: #f96d9c;
}

header {
  padding: 19px 0 0 0;
}

header img {
  height: 26px;
}

header .search {
  position: relative;
  margin-left: 41px;
  max-width: 311px;
  width: 100%;
  display: inline-block;
}

header .search input.form-control {
  border: 1px solid #dcdadc;
  color: #242526;
  border-radius: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: 17px;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  padding: 0 10px;
  padding-left: 34px;
  height: 38px;
  background-color: #fff;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

header .search::after {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 10px;
  top: 12px;
  content: "";
}

header nav ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  z-index: 4;
  margin: 8px 12px;
}

header nav ul li a {
  color: #242526;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  padding: 0;
  line-height: 17px;
}

header nav ul li a:hover {
  font-weight: 700;
}

header nav ul li .inline-button {
  font-weight: 700;
  color: #574b90;
  padding-right: 0;
}

header .menu .submenu .fa {
  margin-left: 7px;
  font-weight: 700;
}

header .menu .submenu ul.currency_box {
  visibility: hidden;
  background: #fff;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px 5px 5px 5px;
  position: absolute;
  padding: 15px 20px;
  left: 15px;
  top: 22px;
  margin: 0;
  opacity: 0;
  min-width: 150px;
  width: 267px;
  -webkit-transform: translateY(-1em);
          transform: translateY(-1em);
  -webkit-transition: all .3s ease-in-out 0s,visibility 0s linear .3s,z-index 0s linear 10ms;
  transition: all .3s ease-in-out 0s,visibility 0s linear .3s,z-index 0s linear 10ms;
}

header .menu .submenu ul.currency_box li {
  list-style: none;
  display: block;
  margin-left: 0;
  margin-bottom: 7px;
  cursor: pointer;
}

header .menu .submenu:hover ul {
  display: block;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0s,0s,.3s;
          transition-delay: 0s,0s,.3s;
  visibility: visible;
  opacity: 1;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex .col {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex .col.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex .col-50 {
  width: 50%;
}

.flex .col-25 {
  width: 25%;
}

.flex.alignStart {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container {
  max-width: 1370px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.details .head {
  margin-top: 27px;
}

.details .head h1 {
  max-width: 60%;
  display: inline-block;
  margin: 0;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  padding-right: 60px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  vertical-align: middle;
}

.details .head a.share {
  margin-left: 20px;
}

.details .hotel_type {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  font-variant: small-caps;
  color: #574b90;
  float: left;
  margin-top: 9px;
}

.details .menu {
  clear: both;
}

.details .menu ul {
  margin: 20px 0;
  display: inline-block;
  list-style: none;
}

.details .menu ul li {
  float: left;
}

.details .menu ul li a {
  margin: 0 18px 0 0;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #242526;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
}

.details .menu ul li a.active, .details .menu ul li a:hover {
  border-bottom: 2px solid #e56399;
}

.details .filters {
  padding: 15px 0 20px;
  border-top: 1px solid #dcdadc;
}

.details .filters .datepicker {
  width: 320px;
  height: 38px;
  background: #fff;
  border: 1px solid #dcdadc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  float: left;
  position: relative;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.details .filters .datepicker .date {
  position: relative;
  width: 47.5%;
  display: inline-block;
  vertical-align: middle;
}

.details .filters .datepicker .date input {
  border: none;
  height: 36px;
  padding: 5px;
  background: 0 0;
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  cursor: pointer;
  line-height: 19px;
  position: relative;
  text-align: center;
  font-weight: 600;
}

.details .filters .datepicker .date input[type="date"] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 22;
  opacity: 0;
}

.details .filters .guests {
  width: 147px;
  border: 1px solid #dcdadc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  margin-left: 20px;
  height: 38px;
  background: #fff;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  display: inline-table;
  border-collapse: separate;
}

.details .filters .guests .add {
  border: none;
  background: 0 0;
  font-size: 15px;
  line-height: 22px;
  color: #242526;
  cursor: pointer;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  padding: 6px 12px;
  display: table-cell;
}

.details .filters .guests input {
  position: relative;
  z-index: 1;
  width: 100%;
  margin-bottom: 0;
  background: 0 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 600;
  height: 36px;
  font-size: 16px;
  line-height: 19px;
  color: #242526;
  text-align: center;
  display: table-cell;
}

.select .tbl-accordion {
  padding: 5px 20px 5px;
  width: 100%;
  border: 1px solid #dcdadc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  min-height: 65px;
  text-align: left;
}

.select .tbl-accordion thead {
  border: none;
  margin-bottom: 3px;
}

.select .tbl-accordion thead th {
  padding: 14px 0;
  width: 10%;
}

.select .tbl-accordion thead th:nth-child(odd) {
  width: 20%;
}

.select .tbl-accordion thead th:last-child {
  width: 2%;
}

.select .tbl-accordion tr {
  border-bottom: 1px solid #dcdadc;
}

.select .tbl-accordion tr.trow td {
  border-top: 1px solid #dcdadc;
}

.select .tbl-accordion .tbl-accordion-nested {
  width: 100%;
}

.select .tbl-accordion .tbl-accordion-nested td, .select .tbl-accordion .tbl-accordion-nested th {
  padding: 14px 0;
  width: 10%;
}

.select .tbl-accordion .tbl-accordion-nested td:nth-child(odd), .select .tbl-accordion .tbl-accordion-nested th:nth-child(odd) {
  width: 20%;
}

.select .tbl-accordion .tbl-accordion-nested td:last-child, .select .tbl-accordion .tbl-accordion-nested th:last-child {
  width: 2%;
}

.select .tbl-accordion .tbl-accordion-nested .tbl-accordion-section {
  color: #242526;
  cursor: pointer;
}

.select .tbl-accordion .tbl-accordion-nested .detailed {
  top: -47px;
  position: relative;
  background: #fcfcfc;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
}

.select .tbl-accordion .tbl-accordion-nested .detailed td {
  vertical-align: top;
  border-bottom: 1px solid #dcdadc;
  position: relative;
}

.select .tbl-accordion .tbl-accordion-nested .detailed td:first-child {
  border-bottom: none;
  border-top: none;
}

.select .tbl-accordion .tbl-accordion-nested .detailed td:nth-child(5) {
  color: #b3b1b4;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.select .tbl-accordion .tbl-accordion-nested .detailed td i {
  color: #242526;
  position: relative;
  cursor: pointer;
}

.select .tbl-accordion .tbl-accordion-nested .detailed td i .tooltip {
  display: none;
  position: absolute;
  width: 220px;
  padding: 10px;
  color: #242526;
  background: #fcfcfc;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: auto;
  line-height: 30px;
  text-align: left;
  border-radius: 2px;
  top: -115px;
  left: -102px;
}

.select .tbl-accordion .tbl-accordion-nested .detailed td i .tooltip ul li {
  font-size: 16px;
  margin-bottom: 5px;
}

.select .tbl-accordion .tbl-accordion-nested .detailed td i .tooltip ul li span {
  position: absolute;
  right: 10px;
}

.select .tbl-accordion .tbl-accordion-nested .detailed td i .tooltip ul li:last-child {
  margin-top: 10px;
  margin-bottom: 0;
  border-top: 1px solid #dcdadc;
}

.select .tbl-accordion .tbl-accordion-nested .detailed td i .tooltip:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-top: 8px solid #fcfcfc;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.select .tbl-accordion .tbl-accordion-nested .detailed td i:hover .tooltip {
  display: block;
}

.select .tbl-accordion .tbl-accordion-nested .detailed ul {
  list-style: none;
}

.select .tbl-accordion .tbl-accordion-nested .detailed ul li {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}

.select .tbl-accordion .tbl-accordion-nested .detailed .big {
  text-decoration: none;
  font-weight: 500;
  font-size: 30px;
  line-height: 43px;
  color: #242526;
}

.select .tbl-accordion .tbl-accordion-nested .detailed button.btn {
  background-color: #f96d9c;
  border: 1px solid #f96d9c;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 8px 16px;
  display: block;
  clear: both;
  position: absolute;
  bottom: 15px;
  cursor: pointer;
}

.location {
  margin-top: 45px;
}

.location h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.location address {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin: 20px 0;
}

.location iframe {
  width: 100%;
  min-height: 640px;
  margin-bottom: 20px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 99;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  /* The Close Button */
  /* Modal Content */
}

.modal .close {
  background: url("../images/close_slider.png") no-repeat center center;
  background-size: 25px;
  font-size: 30px;
  position: absolute;
  width: 25px;
  height: 25px;
  right: 50px;
  top: 50px;
  z-index: 5;
  cursor: pointer;
  color: #fff;
  display: block;
}

.modal .close:hover {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.modal .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  height: calc(100% - 200px);
  max-width: 1200px;
}

.modal .modal-content .slides {
  display: none;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.modal .modal-content .slides img {
  width: 100%;
}

.modal .modal-content .prev,
.modal .modal-content .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-size: 45px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.modal .modal-content .prev {
  left: -8%;
}

.modal .modal-content .next {
  right: -8%;
  border-radius: 3px 0 0 3px;
}

.modal .modal-content .numbertext {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  bottom: -13%;
  width: 100%;
  text-align: center;
  display: none;
}

.modal .caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
  position: absolute;
  bottom: 10%;
  width: 100%;
}

.modal .caption-container #caption {
  font-weight: 700;
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

footer {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 400;
  background: #242526;
  padding: 42px 0;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .col-50, footer .col-25 {
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .social h1 {
  font-family: 'Merriweather', sans-serif;
  color: #fcfcfc;
  font-weight: 700;
  font-size: 42px;
  line-height: 53px;
  letter-spacing: .02em;
}

footer .social ul {
  display: inline-block;
  margin-top: 58px;
  list-style: none;
}

footer .social ul li {
  float: left;
  margin-right: 30px;
}

footer .social ul li a {
  text-align: center;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
  color: #fff;
  width: 24px;
  height: 24px;
}

footer .social ul li a:hover {
  opacity: 0.7;
}

footer .links ul {
  list-style: none;
  margin-top: 8px;
}

footer .links ul li {
  display: block;
  padding: 0;
  margin-bottom: 9px;
}

footer .links ul li a {
  font-size: 15px;
  line-height: 18px;
  color: #fcfcfc;
}

footer .copy {
  margin: 94px 0 0;
  padding: 49px 0 0;
  border-top: 2px solid #555758;
  color: #b3b1b4;
  font-size: 12px;
  line-height: 14px;
}

footer .copy a {
  color: #b3b1b4;
}

footer .copy span {
  vertical-align: middle;
  margin-left: 10px;
}

footer .copy span img {
  max-width: 75px;
  vertical-align: middle;
}

@media only screen and (max-width: 768px) {
  header, .slider, .head a {
    display: none;
  }
  .details .head h1 {
    font-size: 24px;
    max-width: 100%;
  }
  .select .tbl-accordion {
    border: none;
  }
  .select .tbl-accordion thead {
    display: none;
  }
  .select .tbl-accordion tr {
    display: block;
  }
  .select .tbl-accordion tr.trow td {
    border: none;
    display: block;
  }
  .select .tbl-accordion .tbl-accordion-nested .detailed {
    top: 0;
  }
  .select .tbl-accordion .tbl-accordion-nested .detailed td {
    border: none;
    display: block;
    width: 100%;
  }
  .select .tbl-accordion .tbl-accordion-nested .detailed td:last-child {
    position: absolute;
    top: 0;
    right: 15px;
    width: 25px !important;
  }
  .select .tbl-accordion .tbl-accordion-nested .detailed td:nth-child(5) {
    color: #242526;
  }
  .select .tbl-accordion .tbl-accordion-nested .detailed td:nth-child(5) br {
    display: none;
  }
  .select .tbl-accordion .tbl-accordion-nested .detailed button.btn {
    margin-top: 42px;
    position: relative;
  }
  footer {
    padding: 45px 0 50px;
  }
  footer .container {
    max-width: 558px;
    padding: 0 30px;
  }
  footer .flex {
    display: block;
    text-align: center;
  }
  footer .flex .col-50 {
    width: 100%;
    float: left;
    position: relative;
  }
  footer .flex .col-50 h1 {
    margin-bottom: 41px;
  }
  footer .flex .col-50 ul {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    bottom: -160%;
    margin-top: 0;
    padding: 25px 0;
    border-bottom: 1px solid #dcdcdc;
  }
  footer .flex .col-50 ul li {
    float: none;
    display: inline;
  }
  footer .flex .col-50 ul li:last-child {
    margin-right: 0;
  }
  footer .flex .col-25 {
    width: 50%;
    float: left;
    text-align: left;
    position: relative;
  }
  footer .copy {
    padding: 125px 0 0;
    margin-top: 0;
    border-top: none;
    clear: both;
  }
  footer .copy .member {
    margin-top: 25px;
  }
}
/*# sourceMappingURL=style.css.map */